<p>Olá {{name}},</p>
<p>Sua solicitação de IP foi <strong>APROVADA</strong>!</p>
<p><strong>Detalhes do IP Atribuído:</strong></p>
<ul>
    <li>Endereço IP: {{ipAddress}}</li>
    <li>MAC Address: {{macAddress}}</li>
    <li>Data de Expiração: {{expirationDate}}</li>
</ul>
<p>Por favor, configure seu dispositivo com estas informações.</p>